
header{
    background-image: url('../img/bgchile.jpg');
    height: 900px;
    background-size: cover;
    background-position: center;
}

.col{
    text-align: justify;
}

.row{
    background-color: #1f1f1f;
}

i{
    width: 100%;
    background-color: peru;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

